html {
	font-size: calc(14px + 6 * ((100vw - 320px) / 1200));
  height: 100%;
  background: $color-background;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 100%;
  padding: 0;
  margin: 0;

  background-color: $color-background;
  color: $color-text;
  font-family: $font-body;
  line-height: 1.4;
}

.site-main {
  padding-bottom: 10rem;
}

img {
  width: 100%;
}

a {
  color: inherit;
  &:hover {
    color: inherit;
  }
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
  max-width: $width-s;
  margin: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
  font-size: 1rem;
  line-height: 1.1;
  margin: 0 auto 2rem;
}

h1 {
  font-size: 3.6rem;
}

p {
  margin: 0 auto 1rem;

  /*&.lead {
    font-size: 1.4rem;
    margin-bottom: 3rem;
    line-height: 1.4;
  }*/
}

.content {
  ul, ol {
    margin: 0 auto 2rem;
  }
}

ul {
  margin: 0;
  padding: 0 1.2rem;
}

@media (max-width: $media-m) {
  h1, h2, h3, h4, h5, h6, p, ul, ol {
    margin-left: 13rem;
  }
}

@media (max-width: $media-s) {
  h1, h2, h3, h4, h5, h6, p, ul, ol {
    margin-left: auto;
  }
}

img.main-illustration {
  display: block;
  max-width: 1200px;
  max-height: 700px;
  object-fit: contain;
  margin: 0 auto 2rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}