html {
	font-size: calc(14px + 6 * ((100vw - 320px) / 1200));
  height: 100%;
  background: var(--color-background);
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;

  background-color: var(--color-background);
  color: var(--color-text);
  font-family: $font-body;
  line-height: 1.4;
}

.site-main {
  padding: 2rem 2rem 7rem;
}

.page {
  position: relative;
}

img {
  width: 100%;
}

a {
  color: inherit;
  &:hover {
    color: inherit;
  }
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
  max-width: var(--width-s);
  margin: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
  font-size: 1rem;
  line-height: 1.1;
  margin: 0 auto 2rem;
}

h1 {
  font-size: 3.6rem;
  @media (max-width: 700px) {
    font-size: 2.8rem;
  }
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  @media (max-width: 700px) {
    font-size: 1.8rem;
  }
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-bottom: 1rem;

  strong {
    font-weight: 900;
  }
}

p {
  margin: 0 auto 1rem;

  &.lead {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
  }
}

ul {
  margin: 0;
  padding: 0 1.2rem;
}

img.main-illustration {
  display: block;
  max-width: 1200px;
  max-height: 700px;
  object-fit: contain;
  margin: 0 auto 3rem;

  @media (max-width: 700px) {
    margin-left: -4rem;
    margin-right: -4rem;
    width: calc(100% + 8rem);
  }
}

.page {
  a {
    color: inherit;
    text-decoration: none;
    display: inline-block;
    border-bottom: 2px solid var(--color-text);
    line-height: 1;
    transition: all .2s ease-in-out;
    &:hover {
      color: var(--color-pink);
      border-color: var(--color-pink);
    }
  }
  ul, ol {
    max-width: var(--width-s);
    margin: 0 auto 2rem;
    padding-left: 2rem;

    li {
      margin-bottom: 1rem;

      ul {
        margin-top: 1rem;
      }
    }
  }

  .text {
    margin: 2rem auto;
    h2, h3, h4 {
      margin-top: 3rem;
    }
  }

  .text.large {
    font-size: 1.4rem;
    line-height: 1.2;
    width: var(--width-s);
    max-width: 100%;

    ul {
      list-style: none;
      li {
        margin-bottom: 1.4rem;
        position: relative;

        &:before {
          content: url(/images/wave.svg);
          width: 1em;
          height: 1em;
          display: block;
          position: absolute;
          top: -.15em;
          left: -1.5em;
        }
      }
    }
  }
}
.content {
  ul, ol {
    max-width: var(--width-s);
    margin: 0 auto 2rem;
    padding-left: 2rem;

    li {
      margin-bottom: .6rem;

      ul {
        margin-top: 1rem;
      }
    }
  }
}
.image {
  max-width: 1200px;
  margin: 2rem auto;
}
.innhold_trekkspill_BlockType + .innhold_trekkspill_BlockType {
  .accordion {
    border-top: none;
    margin-top: 0;
  }
}
.innhold_tekst_BlockType + .innhold_trekkspill_BlockType {
  margin-top: 4rem;
}
.pdf {
  max-width: var(--width-s);
  margin: 2rem auto;
  color: var(--color-brightred);
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.2;
  &:before {
    content: "→ ";
  }
  a {
    border: none;
  }
}
button {
  outline: none;
  background: none;
  border: none;
  font-family: inherit;
  font-size: inherit;
  text-align: inherit;
  display: block;
  padding: 0;
}
.button {
  display: block;
  width: 80%;
  max-width: 400px;
  background: #000;
  color: #fff;
  font-family: inherit;
  font-size: 1.2rem;
  text-decoration: none;
  text-align: center;
  padding: 1.2rem 2rem;
  margin: 1rem auto;
  cursor: pointer;
  border: none;
  border-radius: 2rem;
  transition: all .2s ease;
  + .button {
    margin-top: 0;
  }
  &:hover {
    color: #fff;
    transform: scale(1.05);
  }
  &:focus {
    outline: none;
  }
  &.secondary {
    background: #fff;
    color: #000;
    &:hover {
      color: #000;
      transform: scale(1.05);
    }
  }
  &.disabled {
    background: #666;
    color: #ddd;
    opacity: .96;
    cursor: default;
    &:hover {
      transform: none;
    }
  }
  &-close, &-info, &-question {
    width: 3rem;
    height: 3rem;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
  &-close {
    background-image: url('/graphics/close.svg');
    background-size: 36%;
    background-position: center;
    background-repeat: no-repeat;
  }
  &-info {
    background-image: url('/graphics/info.svg');
    background-size: 36%;
    background-position: center;
    background-repeat: no-repeat;
  }
  &-question {
    background-image: url('/graphics/question.svg');
    background-size: 36%;
    background-position: center;
    background-repeat: no-repeat;
  }
  &-textonly {
    display: inline-block;
    margin-right: 1rem;
    border-bottom: 2px solid #000;
    cursor: pointer;
  }
  @media (max-width: 800px) {
    font-size: 1rem;
  }
}


.card p {
  margin: 0 auto;
  max-width: none;
  word-wrap: break-word;
}


.page.ordliste {
  p, ul, ol, h1, h2, h3, h4, h5, h6 {
    margin-left: 0;
  }
}