@import url('https://fonts.googleapis.com/css?family=Montserrat:900|Work+Sans:500,700,900&display=swap');

$font-body: 'work sans', helvetica, arial, sans-serif;
$font-heading: 'montserrat', helvetica, arial, sans-serif;

:root {
  --color-white: rgb(255, 255, 255);
  --color-black: rgb(0, 0, 0);
  --color-green: #76C2AF;
  --color-pink: #E269A3;
  --color-darkgreen: #0F4138;
  --color-yellow: #FFF7D2;

  --color-lightgreen: #91e2ce;
  --color-brightyellow: #ecdd88;
  --color-orange: #f7bd9b;
  --color-red: #f78d8d;
  --color-brightred: #e73636;

  --color-background: var(--color-white);
  --color-text: var(--color-black);

  --width-xs: 21rem;
  --width-s: 32rem;
  --width-m: 42rem;
  --width-l: 56rem;

  --media-s: 700px;
  --media-m: 1000px;
  --media-l: 1600px;
  --media-xl: 1900px;
}